body {
    background : url(fon1.jpg) no-repeat center center fixed;
    background-size: cover;
}

aside {
    float: left;
    background: #223347;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #d5e3f2;
    border-right: 10 px solid #162b42;

}

.sticky {
    position: fixed;

    z-index: 10;
}

aside img {
    float: left;
    top: +5px;
}

aside .logo {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    top: +15px;
}
aside h3 {
    margin-top: 5px;
    font-size: 30px;
    top: +8px;
}
aside ul { list-style: none}
aside ul li {
    font-size: 20px;
    color: #d5e3f2;
    display: block;
    top: +15px;
    margin-top 10px;
}

aside ul li:hover, aside ul a:hover {
    color: #7caee6;
    text-decoration: none;
    transform: scale(1.03);
}

main .features {
    float: left;
    margin-top: 200px;
    text-align: center;
    width: 100%;

}

main .features h1 {font-size: 70px;}

main .features2 {
    float: left;
    margin-left: 22%;
    text-align: center;
    width: 75%;