{% extends 'main/layout.html'%}

{% block something %}
    <center>
    <h1 align="center"> Пока просто студент</h1>
    </center>
    <div style="text-align:justify"><span style="font-size:20px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif">&nbsp; Эта страница должна содержать какую-либо информацию о мне, но пока я не хочу распростаняться личными фактами. Поэтому, чтобы заполнить пустое пространство хоть чем-то интересным.</span></span><br />
    &nbsp;</div>

    <hr />
    <center>
    <img alt="" src="https://s3.us-east-2.amazonaws.com/static.aidungeon.io/content-images/landing-page/aid-logo.png" style="height:35px; width:200px;" /></pre>
    </center>


    <hr />
    <p style="text-align:justify">&nbsp; <span style="font-size:20px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif">Ещё в декабре 2019 года был запущен проект AI Dungeon, который тогда смог привлечь к себе внимание игроков благодаря смелой концепции и встроенному продвинутому ИИ. Игра (наиболее подходящий термин) могла генерировать текстовые приключения, для участия в них и выполнения любых действий геймеры печатали команды в окне ввода.&nbsp;</span></span></p>

    <p style="text-align:justify">&nbsp; <span style="font-size:20px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif">Пользователи, успевшие опробовать генератор текстовых приключений до релиза в магазине Valve, отмечали, что здешний ИИ действительно способен генерировать вполне связные истории без больших ляпов и несостыковок. Геймплей AI Dungeon выглядит как типичный текстовый квест эпохи 1970-х: игра задаёт пользователю обстановку, условия и задачи, а геймер пишет, что собирается делать.</span></span></p>

    <p style="text-align:justify"><span style="font-size:20px"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif">&nbsp; Ключевое отличие AI Dungeon от его древних предшественников заключается в том, что жёстких правил и ограничений здесь попросту нет: система подстраивается под прихоти и желания пользователя налету. Всё взаимодействие со здешним редактором событий определяется тремя типами ввода: событием, действием или словом.</span></span></p>

    <p style="text-align:justify">&nbsp;</p>

    <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3y7U5_SRyOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
    </center>