{% extends 'main/layout.html'%}

{% block something %}
<div class="features2">
    <p style="text-align:center"><span style="font-family:Lucida Sans Unicode, Lucida Grande, sans-serif"><span style="font-size:18px"><strong><em>(просто оставлю это здесь)</em></strong></span></span></p>

    <hr />
    <p style="text-align:justify"><strong><em><a href="https://vk.com/drian_linnov"><img alt="Вконтач" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" style="float:left; height:64px; width:64px" /></a>&nbsp; </em><span style="font-size:36px">Вконтач</span></strong></p>

    <p style="text-align:justify"><strong><span style="font-size:36px"><a href="https://ru.pinterest.com/scootaloo0/"><img alt="Пины" src="https://seeklogo.com/images/P/pinterest-logo-8561DDA2E1-seeklogo.com.png" style="float:left; height:64px; margin-bottom:1px; margin-top:1px; width:64px" /></a>&nbsp;Пины</span></strong></p>

    <p style="text-align:justify"><strong><span style="font-size:36px"><a href="scootaloo71@gmail.com"><img alt="scootaloo71@gmail.com" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" style="float:left; height:64px; margin-bottom:2px; margin-top:2px; width:64px" /></a>&nbsp;Почта</span></strong></p>

    <p style="text-align:justify"><a href="https://github.com/incredibledrianlinnov"><img alt="" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="float:left; height:64px; margin-bottom:3px; margin-top:3px; width:64px" /></a>&nbsp;<span style="text-align:justify"><strong><span style="font-size:36px">Гитхаб</span></strong></span></p>

    <p style="text-align:justify">&nbsp;</p>

    <hr />
</div>
{% endblock %}
